* {
  font-family: "Courier New", Courier, monospace;
}

.container {
  width: 60%;
  margin: 85px auto;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.container h1 {
  text-align: center;
}

.container ul {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 5px 3px #b3b3b3;
  border-radius: 3px;
  border-top: 0.5px solid #b3b3b371;
}

.container ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  min-height: 60px;
  font-size: 16px;
}

.container ul li:not(:last-child) {
  border-bottom: 0.5px solid #b3b3b371;
}

.container ul li i {
  cursor: pointer;
  color: #585858;
}

.container ul li i:hover {
  color: #202020;
}

.hide {
  display: none;
}

.add-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 1em 0;
  height: 40px;
  font-size: 16px;
}

.container .clearcomplete {
  background-color: #fff;
  border: none;
  box-shadow: 0 5px 5px 3px #b3b3b3;
  display: flex;
  justify-content: center;
  color: #818181;
  cursor: pointer;
  width: 100%;
  height: 50px;
  align-items: center;
  border-top: 0.2px solid #b3b3b371;
}

.clearcomplete:hover {
  text-decoration: underline;
  color: #000;
  background-color: #f9f9f9;
}

.container button {
  background-color: #fff;
  border: none;
}

.completed {
  text-decoration: line-through;
}
